#{extends 'main.html' /} #{set title:'Donation Report' /}

  <nav class="ui menu">
    <a class="ui item" href="/">Home</a>
    <a class="ui item" href="/signup">Sign Up</a>
    <a class="ui item" href="/login">Log In</a>
    <a class="ui item" href="/donation">Make Donation</a>
    <a class="ui active item" href="/donation/report">Report</a>
    <a class="ui item" href="/logout">Log Out</a>
  </nav>

<h2>List Donations</h2>

   <table class="ui table segment">
    <thead>
     <tr>
       <th>Donors</th>
       <th>Amount$</th>
       <th>Method donated</th>
        </tr>
      </thead>
   </tbody>
    #{list items:donations, as:'donation'}
    <tr>
    <td>${donation.from.firstName}&nbsp${donation.from.lastName}</td>
    <td>${donation.received}</td>
    <td>${donation.methodDonated}</td>
    
   </tr>
   #{/list}
   </tbody>
   </table>