#{extends 'main.html' /}
#{set title:'Welcome' /}

<h1>Welcome page</h1>
<nav class="ui blue menu">
  <a class="active item" href="/">Home</a> 
  <a class="item" href="/signup"> Sign Up</a>
  <a class="item" href="/login"> Login</a>
   <a class="item" href="/donation"> Make Donation</a>
    <a class="item" href="/logout"> Log Out</a>
</nav> 

<h1>Welcome</h1>

<table>
<tr>
   <td>
   <p>Homer for president</p>
   <p>Time for a change</p>
   <p>Out with the Boring Abamo</p>
   <p>Giving has never been so easy</p>
   
   <p><a href ="/signup" here</a> </p>
   <p>Just click here to log in.</p> 
   <p>Then go to the Donation page and empty your wallet</p>
    </td>
    <td><img src="/public/images/homer.gif"></td>
</tr>
</table>