#{extends 'main.html' /}
#{set title:'Welcome' /}

<h1>Welcome page</h1>
<nav class="ui blue menu">
  <a class="active item" href="/">Home</a> 
  <a class="item" href="/signup"> Sign Up</a>
  <a class="item" href="/login"> Login</a>
   <a class="item" href="/donation"> Make Donation</a>
    <a class="item" href="/logout"> Log Out</a>
</nav> 

<h1>Welcome</h1>

<table>
<tr>
   <td>
   <p>Homer for President</p>
   <p>Time for change</p>
   <p>Out with the Old</p>
   <p>In with Homer</p>
   <p><a href ="/signup"Register</a> or <a href ="/login"Sign in></a></p>
    <p>We look forward to your generous contribution</p>
    </td>
    <td><img src="/public/images/home.gif"></td>
</tr>
</table>