#{extends 'main.html' /} #{set title:'Signup for Spacebook' /}

<h1>Sign Up page</h1>


<nav class="ui menu">
  <a class="item" href="/">Home</a> 
  <a class="ui active item" href="/signup"> Sign Up</a>
  <a class="item" href="/login"> Login</a>
   <a class="item" href="/donation"> Make Donation</a>
   <a class="item" href="/report"> Report</a>
   <a class="item" href="/logout"> Log Out</a>
</nav> 

<h3>Tick to confirm you are citizen of the USA</h3>
<div class="ui column">
	<section class="ui form segment">
		<form action="/register" method="POST">
			<div class="two fields">
				<div class="field">
					<label>First Name</label> <input placeholder="First Name"
						type="text" name="firstName">
				</div>
			</div>
		</form>
		<div class="field">
			<label>Last Name</label> <input placeholder="Last Name" type="text"
				name="lastName"></div>
</div>
<div class="field">
	<label>Email</label> <input placeholder="Email" type="text"
		name="email">
</div>

<div class="field">
	<label>Password</label> <input type="password" name="password">
</div>
<button class="ui blue submit button"> Signup</button>
</form>
</section>
